<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Homepage</title>
</head>
<body>

<ul>
    <li>
        <h4 class="mb-3" th:text="|로그인: ${email}|"></h4>
        <ul>
            <li>
                <p> 쿠키 : [[${loginByCookie}]] </p>
                <p> 세션 : [[${loginBySession}]] </p>
                <p> jwt : [[${loginByJwt}]] </p>
            </li>
        </ul>
    </li>
    <li>
        <a th:href="@{/login}">로그인 페이지</a>
    </li>
    <li>
        <a th:href="@{/join}">회원가입 페이지</a>
    </li>
    <li>
        <form th:action="@{/logout}" method="post">
            <button type="submit">로그아웃</button>
        </form>
    </li>
</ul>

</body>
</html>